# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `jekyll serve`. If you change this file, please restart the server process.

# Site Settings
title                    : "Chang Liu"
description              : "Assistant Professor | Machine Learning for sensing and communications "
repository               : "Calvin-wcom/acad-homepage.github.io"
google_scholar_stats_use_cdn : true

# google analytics
google_analytics_id      :  # get google_analytics_id from https://analytics.google.com/analytics/

# SEO Related
google_site_verification :  # get google_site_verification from https://search.google.com/search-console/about
bing_site_verification   :  # get bing_site_verification from https://www.bing.com/webmasters/about
baidu_site_verification  :  # get baidu_site_verification from https://ziyuan.baidu.com/login/index?u=/site/index

# Site Author
author:
  name             : "Chang Liu"
  avatar           : "images/android-chrome-512x512.png"
  bio              : "Dr Chang Liu is currently a Lecturer (Assistant Professor in U.S. systems) with the Department of Computer Science and Information Technology, La Trobe University, Melbourne, Australia. Dr Liu received the PhD degree from Dalian University of Technology, China, in 2017. In 2015, he was a joint PhD Scholar with the University of Tennessee, Knoxville, TN, USA. Before joining La Trobe University, he held research positions at several leading institutions, including the University of New South Wales, Sydney, Australia, the Friedrich Alexander University Erlangen-Nuremberg, Germany, and The Hong Kong Polytechnic University. He received the prestigious Alexander von Humboldt Research Fellowship and the La Trobe University Vice Chancellor’s Research Excellence Award, and has been consistently recognized among the World’s Top 2% Scientists by Stanford University since 2022. His papers have received multiple distinctions, including IEEE Best Paper Awards, ESI Hot Papers, and ESI Highly Cited Papers. Several of his works have been featured in IEEE Best Readings, IEEE Selected Ideas in Communications, and IEEE Popular Articles Lists. Dr. Liu currently serves as an Editor of the IEEE Transactions on Communications. He is also a Founding Member of the IEEE ComSoc Special Interest Group on orthogonal time frequency space (OTFS), the EDAS Co-Chair of IEEE PIMRC 2026, the Publication Co-Chair of IEEE ISWCS 2026, and has served as a Session Chair at IEEE ICC 2017. Over his career, Dr Liu has secured 14 research grants across Australia, Germany, and Hong Kong, totalling approximately AUD 1 million in funding. Among these projects, he worked as a Chief Investigator of the Alexander von Humboldt Fellowship (Germany), Industry-Funded Projects with AUPACITY Pty Ltd (Australia), a Research Start-Up Package from The Hong Kong Polytechnic University, and an Early Career Researcher Grant from the National Natural Science Foundation of China. His research interests span machine learning in communication and sensing systems, with a focus on Internet-of-Things (IoT), Vehicular-to-Everything (V2X) networks, and Low-Altitude Wireless Networks (LAWN), supported by enabling technologies including integrated sensing and communication (ISAC), intelligent reflecting surface (IRS), OTFS, and other emerging next-generation wireless techniques. 

  location         : "Melbourne, Australia"
  employer         :
  pubmed           : 
  googlescholar    : "https://scholar.google.com/citations?user=bcaxipEAAAAJ"
  email            : "c.liu6@latrobe.edu.au"
  researchgate     :  # e.g., "https://www.researchgate.net/profile/yourprofile"
  uri              :
  bitbucket        :
  codepen          :
  dribbble         :
  flickr           :
  facebook         :
  foursquare       :
  github           : # e.g., "github username"
  google_plus      :
  keybase          :
  instagram        :
  impactstory      : # e.g., "https://profiles.impactstory.org/u/xxxx-xxxx-xxxx-xxxx"
  lastfm           :
  linkedin         : # e.g., "linkedin username"
  dblp             : # e.g., "https://dblp.org/pid/xx/xxxx.html"
  orcid            : # e.g., "https://orcid.org/xxxx"
  pinterest        :
  soundcloud       :
  stackoverflow    : # http://stackoverflow.com/users/123456/username
  steam            :
  tumblr           :
  twitter          : 
  vine             :
  weibo            :
  xing             :
  youtube          :
  wikipedia        :


# Reading Files
include:
  - .htaccess
  - _pages
  - files
exclude:
  - docs
  - google_scholar_crawler
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - .github
  - CHANGELOG
  - Capfile
  - Gemfile
  - Gruntfile.js
  - LICENSE
  - README
  - Rakefile
  - assets/js/_main.js
  - assets/js/plugins
  - assets/js/vendor
  - config
  - gulpfile.js
  - log
  - node_modules
  - package.json
  - tmp
  - vendor
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"


# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false


# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Defaults
defaults:
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: default
      author_profile: true


# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # http://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style


# Outputting
permalink: /:categories/:title/
timezone: Asia/Shanghai # http://en.wikipedia.org/wiki/List_of_tz_database_time_zones


# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-redirect-from
# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji


# HTML Compression
# - http://jch.penibelst.de/
compress_html:
  clippings: all
  ignore:
    envs: development
